body {
  background-color: #c6c6c6;
}

.container {
  background-color: #ffffff;
  border: 2px solid;
  border-radius: 15px 5px 0px 35px;
  height: 500px;
  margin-top: 100px;
}

/*#center1> input {
  position: absolute;
  margin-left: 205px;
  margin-bottom: 5000px;
}*/
